body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px; 
}
  
.header-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
  
.logo {
    display: flex; 
    align-items: center; 
}
  
.logo img {
    height: 50px; 
}
  
nav {
    display: flex; 
}
  
nav a {
    display: inline-block; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    text-decoration: none; 
    color: white;
}
  
nav a:hover {
    background-color: #444;
}
  
section {
    padding: 20px;
}

#pagination-container {
    position: fixed; 
    bottom: 75px;    
    left: 50%;      
    transform: translateX(-50%); 
    background-color: white; 
    border: 1px solid #ccc;  
    padding: 10px;         
    border-radius: 10px;      
    z-index: 100;            
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute; 
    bottom: 0; 
    width: 100%; 
}

.manga-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
}

.manga-item {
    width: 30%; 
    margin: 1.5%; 
    text-align: center;
    cursor: pointer; 
}

.manga-item img {
    width: 100%; 
    height: auto;
}

.manga-images {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}
  
.manga-images img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}  

.user-input {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}
  
.user-input input[type="text"] {
    flex: 1; 
    padding: 5px;
    border: 1px solid #ccc;
}
  
.sort-buttons {
    display: flex; 
}
  
.sort-buttons button {
    padding: 5px 10px;
    background-color: #333;
    border: 1px solid #ccc;
    cursor: pointer;
}

.sort-buttons button:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

.sort-buttons button:hover:not(:disabled) {
    background-color: #444; 
}

.registration-form {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.registration-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.registration-form select {
    display: block;
    width: 101%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.registration-form button {
    padding: 10px;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registration-form button:hover {
    background: #45a049;
}

.login-form {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.login-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.close{
    cursor: pointer;
}

.login-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

#userInfo {
    text-align: center;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

#loginError {
    color: red;
    text-align: center;
}

#mangaInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px; 
}

#mangaImagesContainer img {
    display: block;
    max-width: 300px; 
    margin: 10px auto; 
}